.sidebar {
    left: 0;
}

@media (min-width: 1200px) {
    #main,
    #footer {
        margin-left: 300px;
    }
}

.sidebar-nav .nav-link i {
    margin-right: 10px !important;
}

option,
select,
.swal2-title {
    text-align: center;
}

@media (max-width: 1199px) {
    .sidebar {
        left: -300px;
    }
}

@media (max-width: 1199px) {
    .toggle-sidebar .sidebar {
        left: 0 !important;
    }
}

@media (max-width: 992px) {
    .col-md-3 .btn,
    .col-md-2 .btn {
        margin-left: 73px !important;
    }
}