h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
p,
input,
button,
Link,
ul,
li,
label,
.alert,
.text-red-600,
th,
td {
    font-family: 'Cairo' !important;
    text-align: right !important;
    direction: ltr;
}

option,
select,
.swal2-title {
    font-family: 'Cairo' !important;
    text-align: center;
}

table,
.row {
    direction: rtl;
}

.roles_permissions {
    direction: ltr;
}

.swal2-html-container,
.swal2-title {
    font-family: 'Cairo' !important;
    text-align: center !important;
}

.sidebar {
    right: 0;
}

.header-nav .profile .dropdown-item i {
    margin-left: 10px !important;
}

@media (min-width: 1200px) {
    #main,
    #footer {
        margin-right: 300px;
    }
}

.sidebar-nav .nav-link i {
    margin-left: 10px !important;
}

.sidebar-nav .nav-link {
    flex-direction: row-reverse;
}

.sidebar-nav .nav-link .bi-chevron-down {
    position: absolute;
    left: 20px;
}

.logo img {
    margin-left: 25px;
    margin-right: 25px;
}

.d-flex {
    flex-direction: row-reverse;
}

.dropdown-toggle {
    margin-right: 15px;
}

.card-title {
    text-align: right;
}

.dashboard .info-card h6 {
    margin-right: 15px;
}

.sidebar-nav .nav-content a {
    flex-direction: row-reverse;
}

.sidebar-nav .nav-content a i {
    margin-left: 8px !important;
}

@media (max-width: 1199px) {
    .toggle-sidebar .sidebar {
        left: 59px !important;
    }
}

@media (max-width: 992px) {
    .col-md-3 .btn,
    .col-md-2 .btn {
        /* margin-right: 135px !important; */
        margin-right: 65px !important;
    }
}