.sidebar {
    left: 0;
}

@media (min-width: 1200px) {
    #main,
    #footer {
        margin-left: 300px;
    }
}

.sidebar-nav .nav-link i {
    margin-right: 10px !important;
}

option,
select,
.swal2-title {
    text-align: center;
}